ul.actions {
	list-style: none;
	margin: 0;
	padding: 0;

	&.general {
		border-bottom: 1px solid #ccc;
	}

	> li {
		background: left center no-repeat;
		background-size: 24px;
		border: 1px solid #d0d0d0;
		border-radius: 4px;
		display: inline-block;
		margin: 5px 0 5px 5px;
		transition: background-color .2s;

		&:hover {
			background-color: #f4f4f4;
		}

		> * {
			line-height: 16px;
			padding: 4px 8px 4px 26px;
		}

		> a {
			display: inline-block;
		}

		> input {
			background: inherit;
			border: none;
			cursor: pointer;
		}

		&.close {
			background-image: url('action/close.svg')
		}

		&.delete {
			background-image: url('action/delete.svg')
		}

		&.edit {
			background-image: url('action/edit.svg')
		}

		&.save {
			background-image: url('action/save.svg')
		}
	}
}
