ul.actions {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	margin: 0;
	padding: .5em;

	&.general {
		border-bottom: 1px solid #ccc;
	}

	&.selection {
		border-top: 1px solid #ccc;
	}

	> li {
		background: left center no-repeat;
		background-size: 24px;
		border: 1px solid #d0d0d0;
		border-radius: 4px;
		display: inline-block;
		transition: background-color .2s;

		&:hover {
			background-color: #f4f4f4;
		}

		> * {
			line-height: 16px;
			padding: 4px 8px 4px 26px;
		}

		> a {
			display: inline-block;
		}

		> input {
			background: inherit;
			border: none;
			cursor: pointer;
		}

		&.add {
			background-image: url('action/add.svg');
		}

		&.close {
			background-image: url('action/close.svg');
		}

		&.connect {
			background-image: url('action/connect.svg');
		}

		&.delete {
			background-image: url('action/delete.svg');
		}

		&.edit {
			background-image: url('action/edit.svg');
		}

		&.forgot {
			background-image: url('action/forgot.svg');
		}

		&.new {
			background-image: url('action/new.svg');
		}

		&.print {
			background-image: url('action/print.svg');
		}

		&.register {
			background-image: url('action/register.svg');
		}

		&.save {
			background-image: url('action/save.svg');
		}
	}
}
