
body {
	display: grid;
	grid-template-areas:
		"header main   aside "
		"nav    main   aside "
		"footer footer footer";
	grid-template-columns: 200px auto min-content;
	grid-template-rows: 64px auto min-content;
	height: 100vh;

	> header {
		background-color: #eee;
		grid-area: header;
	}

	> nav {
		background-color: #eee;
		grid-area: nav;
		position: relative;
	}

	> main {
		border-left: 1px solid #ccc;
		grid-area: main;
	}

	> aside {
		grid-area: aside;
	}

	> footer {
		grid-area: footer;
	}
}

.main.logo {
	background: url('logo/itrocks.svg') center no-repeat;
	background-size: auto calc(100% - 1em);
	height: 100%;
}

.collapse {
	transition: background-size .1s;
	background: url('part/collapse.svg') right no-repeat;
	background-size: 25%;
	border: 0;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 56px;
	padding: 0;
	position: absolute;
	right: 0;
	top: -66px;
	width: 36px;

	&:hover {
		background-size: 50%;
	}
}
