
body {
	display: grid;
	grid-template-areas:
		"header main   aside "
		"nav    main   aside "
		"footer footer footer";
	grid-template-columns: min-content 1fr min-content;
	grid-template-rows: min-content 1fr min-content;
	height: 100vh;

	> header {
		background-color: #eee;
		grid-area: header;
		height: 64px;
	}

	> nav {
		background-color: #eee;
		grid-area: nav;
		overflow: auto;
		position: relative;
	}

	> main {
		border-left: 1px solid #ccc;
		grid-area: main;
	}

	> aside {
		grid-area: aside;
	}

	> footer {
		grid-area: footer;
	}
}

.main.logo {
	background: url('logo/itrocks.svg') center no-repeat;
	background-size: auto calc(100% - 1em);
	height: 100%;
}
