@import 'breadcrumb.scss';
@import 'collapse.scss';

body {
	display: grid;
	grid-template-areas:
		"header collapse breadcrumb"
		"header main     main      "
		"menu   main     main      "
		"footer footer   footer    ";
	grid-template-columns: min-content min-content 1fr;
	grid-template-rows: min-content min-content 1fr min-content;
	height: var(--real-vh, 100vh);
	overflow: hidden;

	> .breadcrumb {
		grid-area: breadcrumb;
	}

	> .collapse {
		grid-area: collapse;
	}

	> header {
		background-color: #eee;
		grid-area: header;
		height: 64px;
	}

	> .menu {
		grid-area: menu;
	}

	> .breadcrumb, > .collapse, > .menu {
		background-color: #eee;
	}

	> main {
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		grid-area: main;
	}

	> footer {
		grid-area: footer;
	}
}

.main.logo {
	background: url('logo/itrocks.svg') center no-repeat;
	background-size: auto calc(100% - 1em);
	height: 100%;
}
