
form[data-action=edit] {
	ul.object.properties > li {

		> input {
			border: 1px solid #ddd;

			&[type=checkbox] {
				margin: 8px 0;
			}
		}

		> ul {
			background: #f8f8f8;
			border: 1px solid #ddd;
			border-radius: 4px;
			display: flex;
			flex-wrap: wrap;
			gap: 3px;
			padding: 3px;

			> li > input {
				padding-bottom: 2px;
				padding-top: 2px;
			}

			&[data-multiple-contained-auto-width] > li {
				box-sizing: border-box;
				padding: 3px 8px;
				position: relative;
				white-space: pre;

				> input {
					box-sizing: border-box;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}
		}
	}
}
