
nav.app.menu {
	position: relative;
	transition: width .1s;

	a {
		display: block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	> ul {
		white-space: nowrap;

		> li {

			> h3 {
				background: #ddd 10px center no-repeat;
				background-size: 24px;
				font-weight: normal;
				margin: 2px 0;
				padding: 1em 0 1em 40px;
			}

			> ul > li {
				margin: 2px 0;
				transition: background-color .1s;

				&:hover {
					background-color: #f4f4f4;
				}

				> a {
					padding: .8em 0 .8em 10px;
				}
			}

			&.administration > h3 {
				background-image: url('module/administration.svg');
			}
		}
	}

	> .collapse {
		background: none;
		border: none;
		bottom: 0;
		cursor: pointer;
		display: block;
		font-size: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 12px;

		&:before {
			background: #ccc;
			border-radius: 2px;
			bottom: 0;
			content: '';
			height: 32px;
			left: 0;
			margin: auto 4px;
			position: absolute;
			right: 0;
			top: 0;
			transition: background .1s;
		}

		&:hover:before {
			background: white;
		}
	}
}

body > header > .logo,
body > nav.app.menu > ul {
	transition: opacity .1s;
}

body:not(.collapse) > nav.app.menu {
	width: 200px;
}

body.collapse {

	> header > .logo,
	> nav.app.menu > ul {
		opacity: 0;
	}

	> nav.app.menu {
		width: 12px;
	}
}
