
#notification {
	display: none;
}

#notifications {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0 24px 0 0;
	position: absolute;
	right: 0;
	top: 0;

	&:not(:empty):before {
		background: url('icon/notification.svg') center no-repeat;
		content: '';
		cursor: pointer;
		height: 24px;
		position: absolute;
		right: 1px;
		top: 1px;
		width: 24px;
	}

	&.ring:before {
		animation: ring 4s .7s ease-in-out infinite;
		transform-origin: 50% 4px;
	}

	> li {
		border: 1px solid;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0;
		cursor: pointer;
		transition: .1s;
	}

	&:not(.visible) > li:not(.new) {
		height: 0;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
	}

	&.visible > li, > li.new {
		margin: .5em .5em 0;
		padding: .8em 1.2em;
	}

	> li:not(.read) {
		color: white;

		&:not(.error) {
			background: #333;
			border-color: #333;
		}

		&.error {
			background: #b22;
			border-color: #b22;
		}
	}

	> li.read {

		&:not(.error) {
			background: #eee;
			border-color: #ccc;
			color: #333;
		}

		&.error {
			background: #fee;
			border-color: #fcc;
			color: #b22;
		}
	}
}
