
ul.object.properties {
	border-collapse: separate;
	border-spacing: 7px;
	display: table;
	margin: 0;
	padding: 0;

	> li {
		display: table-row;

		> * {
			line-height: 16px;
		}

		> label {
			display: table-cell;
			font-weight: 500;
			padding: 7px 0;
			text-align: right;
			vertical-align: top;
		}

		> :empty:before {
			content: ' ';
			white-space: pre;
		}

		> ul {
			display: block;

			> li {
				display: inline-block;
			}
		}
	}
}

article:not([data-action=edit]) ul.object.properties > li {

	> :not(label) {
		background: #f4f4f4;
		border: 1px solid #f8f8f8;
		border-radius: 4px;
		padding: 6px;
	}

	> ul > li:not(:first-child):before {
		content: ', ';
	}
}
