
// apply background to each cell
table.itrocks > * > tr > * {
	background: var(--background);
}

// apply border that will work with fixed columns and rows
table.itrocks {
	border: var(--border-width) var(--border-style) var(--border-color);
	border-spacing: 0;

	> * > tr > * {
		border-right: var(--border-width) var(--border-style) var(--border-color);
		border-top: var(--border-width) var(--border-style) var(--border-color);

		&:last-child {
			border-right: 0;
		}
	}

	> tbody, > thead {
		> tr:first-child > * {
			border-top: 0;
		}
	}

	> thead > tr:last-child > * {
		border-bottom: var(--border-width) var(--border-style) var(--border-color);
	}
}

// fix thead/tfoot rows position
table.itrocks {
	> tfoot, > thead {
		> tr > * {
			position: sticky;
			z-index: 1;
		}
	}

	> tfoot > tr:last-child > * {
		bottom: 0;
	}

	> thead > tr:first-child > * {
		top: 0;
	}
}

// scroll
table.itrocks {
	border-collapse: separate;
	display: inline-block;
	overflow: scroll;

	> * > tr > * {
		white-space: nowrap;
	}
}
