
body {
	background: #eee;
	margin: 10px;

	> main {
		height: calc(100vh - 20px);
		overflow: auto;
		width: calc(100vw - 20px);
	}
}

table {

	// table commons

	border-collapse: collapse;
	cursor: text;
	height: 100%;
	width: 100%;

	// cell commons

	> * > tr > * {
		background: white;
		border: 1px solid #ccc;
		height: 24px;
		padding: 4px;
		white-space: nowrap;
	}

	// technical col width

	> thead > tr:first-child > :first-child,
	> thead > tr:first-child > :last-child {
		width: 0;
	}

	// edit zone

	> * > tr > * > div[contenteditable] {
		background: white;
		outline: 2px solid #777;
		text-align: left;
	}

	// non-data col / row background

	$fix-background: #f7f7f7;

	> :not(tbody) > tr > *,
	> tbody > tr > :first-child,
	> tbody > tr > :last-child {
		background: $fix-background;
	}

	// fix col / row section border

	$fix-border: #888;

	> * > tr > :first-child,
	> * > tr > :last-child,
	> * > tr > :nth-child(2) {
		border-left-color: $fix-border;
		border-right-color: $fix-border;
	}

	> tfoot > tr:first-child > *,
	> thead > tr:first-child > * {
		border-top-color: $fix-border;
	}

	> tfoot > tr:last-child > *,
	> thead > tr:last-child > * {
		border-bottom-color: $fix-border;
	}

	// line counter

	counter-reset: line;

	> tbody > tr > :first-child {
		counter-increment: line;
		font-weight: normal;

		&:before {
			content: counter(line);
		}

		> input {
			display: none;
		}
	}

}
