
body {
	margin: 0;
}

table {
	border-collapse: collapse;
	height: 100%;
	width: 100%;

	> * > tr > * {
		border: 1px solid #800;
	}

	> * > tr > * {
		background: white;
		white-space: nowrap;
	}

	> thead > tr:first-child > * {
		user-select: none;
	}
}
